{% load static %}

<section class="about-hero">
    <h1>Про нас</h1>
    <p>Цей проєкт було створено як дипломну роботу студентом  — з пристрастю до веб-розробки та любовʼю до кулінарії.</p>
</section>

<section class="about-section">
  <div class="milestones">
    <div class="milestone">
      <div class="number">2025</div>
      <p>рік запуску</p>
    </div>
    <div class="milestone">
      <div class="number">1</div>
      <p>учасники команди</p>
    </div>
    <div class="milestone">
      <div class="number">Open Beta</div>
      <p>на етапі розробки</p>
    </div>
  </div>
</section>

<section class="about-section">
    <h2 class="section-title">Наша команда</h2>
    <div class="team-grid">
        <div class="team-member">
            <img src="{% static 'recipes/avatar.jpg' %}" alt="Team Member">
            <h3>Владислав</h3>
            <p>Засновник & Fullstack Dev</p>
        </div>
        <div class="team-member">
            <img src="{% static 'recipes/avatar.jpg' %}" alt="Team Member">
            <h3>-------</h3>
            <p>Контент-менеджерка</p>
        </div>
        <div class="team-member">
            <img src="{% static 'recipes/avatar.jpg' %}" alt="Team Member">
            <h3>Владислав</h3>
            <p>UI/UX дизайнер</p>
        </div>
        <div class="team-member">
            <img src="{% static 'recipes/avatar.jpg' %}" alt="Team Member">
            <h3>----</h3>
            <p>SMM-спеціалістка</p>
        </div>
    </div>
</section>
<section class="mission">
    <blockquote>
        "Готуй з любов’ю — ділись із світом."
    </blockquote>
</section>